
<%= javascript_include_tag 'underscore-min.js' %>
<%= javascript_include_tag 'coffee-script.js' %>
<%= javascript_include_tag 'js2coffee.min.js' %>
<%= javascript_include_tag 'adapter.js' %>

  <div class="body-wrap">
    <div class="head-wrap">
      <div class="head-top-wrap">
        <div class="header">
          <a class="try-it big button"  onclick="submit_code();">Test Code!</a>
        </div>

      </div>
      <div class="flash hidden"></div>
      </div>
      <div class="content-wrap">
        <div class="meta">
        <div class="source-wrap">
          <textarea id="js_editor" name="js_editor" ></textarea>
        </div>
        <div class="runner-wrap">
          <div class="label">results</div>
          <div class="spec-runner">
            <div class="hint">

            </div>
          </div>
        </div>
      </div>
  </div>

  <script>
    var js_editor = CodeMirror.fromTextArea(document.getElementById("js_editor"), {
      lineNumbers: true,
      mode:  "xml"
    });
  </script>

  <script type="text/javascript">
    var specText;
    var codeText;

    function submit_code()
      {
        specText = <%= raw @specText.to_json %>;
        codeText = js_editor.getValue();
      }
  </script>


  <script type="text/html" class="template sandbox">
    <iframe id="sandbox" src="/sandbox"></iframe>
  </script>
